<%- include('partials/header') -%>
    <div class="area">
        <table class="table is-striped has-text-left is-hoverable">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody <% for(var i=0;i<data.length;i++) { %>
                <tr>
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= data[i].name %>
                    </td>
                    <td><a href="/access/<%= data[i].id %>">View</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer') -%>