<%- include('partials/header'); -%>
    <div class="area">
        <h1 class="title">Closing Request on Return</h1>
        <hr>
        <h1 class="title">Status</h1>
        <form action="/return/search" method="post">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Enter Request ID:" name="id" id="id">
                </p>
                <p class="control">
                    <input class="button is-dark" type="submit" value="Submit">
                </p>
            </div>
        </form>

        <% if(data) {%>
            <div class='subsection'>
                <h1 class="title">Remark</h1>
                <h2 class="subtitle">
                    <%=data.remark%>
                </h2>
            </div>
            <div class='subsection'>
                <h1 class="title">Permission</h1>
                <h2 class="subtitle">
                    <% if(data.permission) { %>
                        <%=data.name%> has permission.
                            <% } else { %>
                                <%=data.name%> does not have permission.
                                    <% } %>
                </h2>
            </div>
        
            <form action="/return/search/<%=data.id%>" method="post" class="subsection">
                <button type="submit" class="button is-link is-light ">Close Outpass</button>
            </form>
            <% } %>
    </div>
    <%- include('partials/footer'); -%>